<page-title></page-title>

<div class="container">
    <form [formGroup]="frmHomePage" (ngSubmit)="submit()">
        <div formGroupName="group1">

            <div class="row col-12 input-group mt-3">
                <div class="input-group-text">
                    <textarea #txtDetail formControlName="detail" class="form-control" [value]="detail.data" rows="20"></textarea>
                </div>
            </div>

            <div class="row col-12 input-group mt-2">
                <input #txtFile type="file" class="form-control" (change)="onFileSelected($event)"/>

                <button #btnConfirm type="submit" class="btn btn-outline-secondary">
                    <span class="icon font">✔️</span>
                </button>
            </div>

            <div *ngIf="startValidation && errorMessage as message">
                <div class="row col-12 input-group mt-2">
                    <div class="alert alert-warning" role="alert">
                        <span>{{ message }}</span>
                    </div>
                </div>
            </div>

        </div>
    </form>
</div>

<page-end></page-end>