<page-title></page-title>

<form class="mt-5" [formGroup]="archetypeFrm" (ngSubmit)="archetypeSubmit()">

    <div class="container">
        <div formGroupName="archetypeFrmGroupOne" class="form-area">

            <div class="row">
                <div class="col-12">
                    <textarea class="form-control" readonly formControlName="archetypeDetail" [value]="this.detail.data" rows="15"></textarea>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="input-group mt-2">
                    <input type="file" class="form-control" (change)="this.onFileSelected($event)"/>
                    <button #btnCreateStructure type="submit" class="btn btn-outline-primary">
                        {{ btnCreate }}
                    </button>
                </div>
            </div>
        </div>

        <!-- Validations. -->
        <div *ngIf="startValidation" class="mt-2 border">
            <div *ngIf="getArchetypeDetail?.invalid && (getArchetypeDetail?.dirty || getArchetypeDetail?.touched)"
                 class="alert alert-warning" role="alert">
                <div *ngIf="getArchetypeDetail?.errors?.['textContainsInicialValue']">Detail is invalid.</div>
                <div *ngIf="getArchetypeDetail?.errors?.['required'] || getArchetypeDetail?.errors?.['notOnlyWhitespace']">Detail is empty.
                </div>
                <div *ngIf="getArchetypeDetail?.errors?.['minlength']">Detail must be at least 2 characters long.</div>
            </div>
            <!-- Validations. -->
        </div>
    </div>
</form>

<page-end></page-end>