<form [formGroup]="this.frm" (ngSubmit)="submit()">
    <mat-card>
        <mat-card-content class="mat-elevation-z0">
            <div class="d-flex space-x-10">

                <mat-form-field appearance="outline">
                    <mat-label #lblArchitecture>{{ this.architecture().payload }}</mat-label>
                    <mat-select formControlName="architectures">
                        <mat-option *ngFor="let item of this.architectures()" [value]="item.id">{{ item.data }}</mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label #lblDatabasePlatform>{{ this.databasePlatform().payload }}</mat-label>
                    <mat-select formControlName="databasePlatforms">
                        <mat-option *ngFor="let item of this.databasePlatforms()" [value]="item.id">{{ item.data }}</mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label #lblDatabaseEngineer>{{ this.databaseEngineer().payload }}</mat-label>
                    <mat-select formControlName="databaseEngineers">
                        <mat-option *ngFor="let item of this.databaseEngineers()" [value]="item.id">{{ item.data }}</mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label #lblEngineeringPlatform>{{ this.engineeringPlatform().payload }}</mat-label>
                    <mat-select formControlName="engineeringPlatforms">
                        <mat-option *ngFor="let item of this.engineeringPlatforms()" [value]="item.id">{{ item.data }}</mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label #lblTemplate>{{ this.template().payload }}</mat-label>
                    <mat-select formControlName="templates">
                        <mat-option *ngFor="let item of this.templates()" [value]="item.id">{{ item.data }}</mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label #lblProjectTemplate>{{ this.projectTemplate().payload }}</mat-label>
                    <mat-select formControlName="projectTemplates">
                        <mat-option *ngFor="let item of this.projectTemplates()" [value]="item.id">{{ item.data }}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </mat-card-content>
    </mat-card>

    <div class="d-flex flex-row justify-content-end mt-3">
        <button type="submit" mat-stroked-button color="accent" [disabled]="this.frm.invalid">
            <mat-icon>check</mat-icon>
            <span>Submit</span>
        </button>
    </div>
</form>

<progress-bar></progress-bar>