table {
    width: 70%;
    margin: 20px auto;
}
.fields-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 equal columns */
    gap: 16px;
}

.field-card {
    min-height: 120px;
    padding: 12px;
    box-sizing: border-box;

    white-space: nowrap;    /* no line breaks */
    overflow: visible;      /* allow card to expand if needed */
}

.loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.table-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.5);
    z-index: 10;
}