<form [formGroup]="this.frm" (ngSubmit)="submit()">
    <mat-card>
        <mat-card-content class="mat-elevation-z0">
            <div class="table-responsive">
                <table mat-table [dataSource]="dtsTables" matSort class="mat-elevation-z0">
                    <ng-container matColumnDef="fields">
                        <td mat-cell *matCellDef="let table" class="pb-4">

                            <mat-checkbox (change)="$event ? toggleAll(table) : null" [checked]="isAllSelected(table)">
                                <span class="table-title" [style.user-select]="'none'" [innerHTML]="(table.id + ' - ' + (table.name | uppercase)) | bold"></span>
                            </mat-checkbox>

                            <div class="fields-container">
                                <mat-card *ngFor="let field of table.fields" class="field-card mat-elevation-z2" appearance="outlined">

                                    <mat-card-header [style.user-select]="'none'">
                                        <mat-card-title class="fw-bold"> {{ field.columnName | uppercase }}</mat-card-title>
                                    </mat-card-header>

                                    <mat-card-content>
                                        <mat-divider class="my-divider"></mat-divider>
                                        <div class="field-details" [style.user-select]="'none'">
                                            <mat-card-subtitle>Type: {{ field.type }}</mat-card-subtitle>
                                            <mat-card-subtitle>Length: {{ field.length }}</mat-card-subtitle>
                                            <mat-card-subtitle>Index: {{ field.index }}</mat-card-subtitle>
                                            <mat-card-subtitle>Sequence: {{ field.sequence }}</mat-card-subtitle>
                                            <mat-card-subtitle>Auto Created: {{ field.isAutoCreated }}</mat-card-subtitle>
                                            <mat-card-subtitle>Primary Key: {{ field.isPrimaryKey }}</mat-card-subtitle>
                                            <mat-card-subtitle>Foreign Key: {{ field.isForeignKey }}</mat-card-subtitle>
                                            <mat-card-subtitle>Index: {{ field.isIndex }}</mat-card-subtitle>
                                            <mat-card-subtitle>Not null: {{ field.isNotNull }}</mat-card-subtitle>
                                        </div>
                                    </mat-card-content>

                                    <mat-card-actions class="actions-bottom">
                                        <mat-checkbox
                                            color="primary"
                                            (click)="$event.stopPropagation()"
                                            (change)="toggleRow(field)"
                                            (keydown)="handleKeydown($event, field)"
                                            [checked]="selectionModel.isSelected(field)">
                                        </mat-checkbox>
                                    </mat-card-actions>
                                </mat-card>
                            </div>
                        </td>
                    </ng-container>
                    <tr mat-row *matRowDef="let row; columns: dtsTablesCols"></tr>
                </table>
            </div>
        </mat-card-content>
    </mat-card>

    <div class="d-flex flex-column flex-sm-row justify-content-end mt-3 gap-2">
        <button type="submit" mat-stroked-button color="accent" class="submit-btn"
                [disabled]="isPageLoading || this.frm.invalid || selectionModel.selected.length === 0">
            <mat-icon *ngIf="!isPageLoading">check</mat-icon>
            <span *ngIf="!isPageLoading">Submit</span>
        </button>
    </div>

    <div *ngIf="isPageLoading" class="table-overlay"></div>
</form>

<progress-bar></progress-bar>