<div *ngIf="isPageLoading" class="loading-overlay">
    <mat-spinner></mat-spinner>
</div>

<page-title></page-title>

<div class="table-container" style="position: relative;">
    <table mat-table [dataSource]="dtsTables" class="mat-elevation-z8" style="width: 90%; margin: auto;">
        <!-- ID da Tabela -->
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef> </th>
            <td mat-cell *matCellDef="let table"> {{ table.id }}</td>
        </ng-container>

        <!-- Nome da Tabela -->
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> </th>
            <td mat-cell class="fw-bold" *matCellDef="let table"> {{ table.name | uppercase }}</td>
        </ng-container>

        <!-- Fields -->
        <ng-container matColumnDef="fields">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let table">

                <!-- Checkbox “Select All” -->
                <mat-checkbox (change)="$event ? masterToggle(table) : null" [checked]="isAllSelected(table)">
                    Select All
                </mat-checkbox>
                <hr/>

                <div class="fields-container">
                    <mat-card *ngFor="let field of table.fields" class="field-card mat-elevation-z2" appearance="outlined">
                        <mat-card-header>
                            <mat-card-title class="fw-bold"> {{ field.name | uppercase }}</mat-card-title>
                            <mat-card-subtitle> Type: {{ field.type }}</mat-card-subtitle>
                            <mat-card-subtitle> Length: {{ field.length }}</mat-card-subtitle>

                            <mat-card-actions>
                                <mat-checkbox
                                    color="primary"
                                    (click)="$event.stopPropagation()"
                                    (change)="$event ? toggleRow(field) : null"
                                    [checked]="selectionModel.isSelected(field)">
                                </mat-checkbox>
                            </mat-card-actions>
                        </mat-card-header>
                    </mat-card>
                </div>

            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="dtsTablesCols"></tr>
        <tr mat-row *matRowDef="let row; columns: dtsTablesCols"></tr>

    </table>

    <div *ngIf="isPageLoading" class="table-overlay"></div>

</div>

<page-end></page-end>
