/* You can add global styles to this file, and also import other style files */
.footer {
    width: 92%;
    text-align: center;
    position: absolute;
    bottom: 1em;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
