<form class="mt-5">
    <div class="container">
        <div formGroupName="archetypeFrmGroupOne" class="form-area">

            <div class="row">
                <div class="col-12 mb-1">
                    <textarea class="form-control" formControlName="archetypeDetail"
                              rows="15"> {{ this.detail.data }}</textarea>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12 mb-1">
                <div class="input-group">
                    <input type="file" class="form-control" (change)="this.onFileSelected($event)"/>
                    <button type="submit" class="btn btn-primary">
                        {{ btnCreate }}
                    </button>
                </div>
            </div>
        </div>

        <div formGroupName="archetypeFrmGroupTwo" class="form-area">
            <div class="row">

                <div class="col-2">
                    <div *ngIf="scaffolds.length > 0">
                        <select class="form-select form-control-sm" formControlName="archetypeScaffold">
                            <option *ngFor="let scaffold of scaffolds" [value]="scaffold.id">
                                {{ this.setItemDescriptionDefault(scaffold.id, scaffold.data) }}
                            </option>
                        </select>
                    </div>
                </div>

                <div class="col-2">
                    <div *ngIf="architectures.length > 0">
                        <select class="form-select form-control-sm" formControlName="archetypeArchitectures">
                            <option *ngFor="let architecture of architectures" [value]="architecture.id">
                                {{ this.setItemDescriptionDefault(architecture.id, architecture.data) }}
                            </option>
                        </select>
                    </div>
                </div>

                <div class="col-2">
                    <div *ngIf="databases.length > 0">
                        <select class="form-select form-control-sm" formControlName="archetypeDatabases">
                            <option *ngFor="let database of databases" [value]="database.id">
                                {{ this.setItemDescriptionDefault(database.id, database.data) }}
                            </option>
                        </select>
                    </div>
                </div>

                <div class="col-2">
                    <div *ngIf="databasesEngineer.length > 0">
                        <select class="form-select form-control-sm" formControlName="archetypeDatabasesEngineer">
                            <option *ngFor="let databaseEngineer of databasesEngineer" [value]="databaseEngineer.id">
                                {{ this.setItemDescriptionDefault(databaseEngineer.id, databaseEngineer.data) }}
                            </option>
                        </select>
                    </div>
                </div>

                <div class="col-2">
                    <div *ngIf="environments.length > 0">
                        <select class="form-select form-control-sm" formControlName="archetypeEnvironments">
                            <option *ngFor="let developmentEnvironment of environments" [value]="developmentEnvironment.id">
                                {{ this.setItemDescriptionDefault(developmentEnvironment.id, developmentEnvironment.data) }}
                            </option>
                        </select>
                    </div>
                </div>

                <div class="col-2">
                    <div *ngIf="forms.length > 0">
                        <select class="form-select form-control-sm" formControlName="archetypeForms">
                            <option *ngFor="let form of forms" [value]="form.id">
                                {{ this.setItemDescriptionDefault(form.id, form.data) }}
                            </option>
                        </select>
                    </div>
                </div>

                <!-- Validations. -->
                <div *ngIf="startValidation">
                    <div *ngIf="getArchetypeDetail?.invalid && (getArchetypeDetail?.dirty || getArchetypeDetail?.touched)"
                         class="alert alert-danger mt-1" role="alert">
                        <div *ngIf="getArchetypeDetail?.errors?.['textContainsInicialValue']">Detail is invalid.</div>
                        <div
                            *ngIf="getArchetypeDetail?.errors?.['required'] || getArchetypeDetail?.errors?.['notOnlyWhitespace']">
                            Description is empty.
                        </div>
                        <div *ngIf="getArchetypeDetail?.errors?.['minlength']">Description must be at least 2 characters
                            long.
                        </div>
                    </div>

                    <div class="col-12"
                         *ngIf="getArchetypeScaffold?.invalid && (getArchetypeScaffold?.dirty || getArchetypeScaffold?.touched)"
                         class="alert alert-danger mt-1" role="alert">

                        <div *ngIf="getArchetypeScaffold?.errors?.['min']">Scaffold is invalid.</div>
                    </div>

                    <div class="col-12"
                         *ngIf="getArchetypeArchitectures?.invalid && (getArchetypeArchitectures?.dirty || getArchetypeArchitectures?.touched)"
                         class="alert alert-danger mt-1" role="alert">

                        <div *ngIf="getArchetypeArchitectures?.errors?.['min']">Architecture is invalid.</div>
                    </div>

                    <div class="col-12" *ngIf="getArchetypeDatabases?.invalid && (getArchetypeDatabases?.dirty || getArchetypeDatabases?.touched)"
                         class="alert alert-danger mt-1" role="alert">

                        <div *ngIf="getArchetypeDatabases?.errors?.['min']">Database is invalid.</div>
                    </div>

                    <div class="col-12"
                         *ngIf="getArchetypeDatabasesEngineer?.invalid && (getArchetypeDatabasesEngineer?.dirty || getArchetypeDatabasesEngineer?.touched)"
                         class="alert alert-danger mt-1" role="alert">

                        <div *ngIf="getArchetypeDatabasesEngineer?.errors?.['min']">Databases engineer is invalid.</div>
                    </div>

                    <div class="col-12"
                         *ngIf="getArchetypeEnvironments?.invalid && (getArchetypeEnvironments?.dirty || getArchetypeEnvironments?.touched)"
                         class="alert alert-danger mt-1" role="alert">

                        <div *ngIf="getArchetypeEnvironments?.errors?.['min']">Environment is invalid.</div>
                    </div>

                    <div class="col-12" *ngIf="getArchetypeForms?.invalid && (getArchetypeForms?.dirty || getArchetypeForms?.touched)"
                         class="alert alert-danger mt-1" role="alert">

                        <div *ngIf="getArchetypeForms?.errors?.['min']">Forms is invalid.</div>
                    </div>
                </div>
                <!-- Validations. -->
            </div>

        </div>
    </div>

</form>
